<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <section id="main-frame">
      <div id="title-bar">
        <div id="title">My Life For The Code</div>
        <div id="title-bar-btns">
          <button id="min-btn"><i class="fa fa-window-minimize"></i></button>
          <button id="max-btn"><i class="fa fa-window-restore"></i></button>
          <button id="close-btn"><i class="fa fa-close"></i></button>
        </div>
      </div>
      <div id="content">
          <div id="wrapper">
            <!-- static sidebar -->
            <div id="static-sidebar" class="static-sidebar-nav">
              <div class="background-blur"></div>
              <ul class=""></ul>
            </div>
            <!-- end of static sidebar -->
            <!-- start: sidebar children go here -->
            <div class="sidebar-wrapper"></div>
            <!-- end: sidebar children go here -->
            <div id="page-frame" class="page-content-wrapper">
              <div class="container-fluid">
                  <div class="etabs-tabgroup">
                      <div class="etabs-tabs"></div>
                      <div class="etabs-buttons"></div>
                  </div>
                  <div class="etabs-views"></div>
                  <div id="page-frame-content" class="row">
                      {{content}}
                  </div>
              </div>
            </div>
          </div>
      </div>
        <div class="toolbar-bottom">
          <div>
            <p style="margin: -7px -1px;color: white; font-size: 11px;"> Test code </p>
          </div>
        <div class="pull-right">
          <p style="margin: -7px -1px; color: white; font-size: 11px;"> Test code 0:11</p>
        </div>
      </div>
    </section>
  </body>
</html>
